@import 'normalize.css';
@import 'var';
// Base
$body-background: #f3f3f4;
$font-family: "Helvetica Neue",
Helvetica,
"PingFang SC",
"Hiragino Sans GB",
"Microsoft YaHei",
"微软雅黑",
Arial,
sans-serif;
$code-family: Consolas,
Menlo,
Courier,
monospace;
