$title-color: #1c2438;
$text-color: #495060;
$font-size-base: 14px;
$font-size-small: 12px;
$line-height-base: 1.5;
$line-height-computed: floor(($font-size-base * $line-height-base));
$border-radius-base: 6px;
$border-radius-small: 4px;
$cursor-disabled: not-allowed;
$link-color: #2D8cF0;
$transition-time: .2s;
$link-hover-color: tint($link-color, 20%);
$link-active-color: shade($link-color, 5%);
$app-min-width: 1000px;
$app-size1: 10px;
$app-size2: 20px;
$app-size3: 30px;
$app-size4: 40px;
